.bio-form {
  p {
    font-size: 0.9em;
    color: #999;
    margin: 10px 0 0;
  }

  .date-picker {
    .ember-basic-dropdown {
      display:inline-block;
      width:31.8%;
    }
  }

  .number-incrementer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pet-breed {
    padding-left: 10px;
    margin-left: 2px;
    width: 36%;
  }
}
