.bio-form {
  p {
    font-size: 0.9em;
    color: #999;
    margin: 10px 0 0;
  }

  .date-picker {
    display: inline-block;

    &.day {
      width: 25%;
    }

    &.month {
      width: 42%;
    }

    &.year {
      width: 28%;
    }
  }

  .number-incrementer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pet-breed {
    padding-left: 10px;
    margin-left: 2px;
    width: 36%;
  }
}
