.testimonial-pic {
  position: relative;
  height: 550px;
  background-image: url("../../assets/images/kim_dan_robert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .quote-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 20px;
    background-color: #000;
    opacity: .6;
  }

  .quote {
    color:#fff;
    font-size: .7em;
    font-style: italic;
    margin-bottom: 0;
  }
}
