{{#nav-bar}}{{/nav-bar}}

<!-- Profile Section -->
<div class="container" id="host-profile">
  <div class="row" id="faq">
    <div class="faq-section">
    <div class="faq-header">Profile Building</div>

    <div class="tab">
      <input id="profileTitle1" type="checkbox" name="tabs">
      <label for="profileTitle1">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
    <div class="tab">
      <input id="profileTitle2" type="checkbox" name="tabs">
      <label for="profileTitle2">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
    <div class="tab">
      <input id="profileTitle3" type="checkbox" name="tabs">
      <label for="profileTitle3">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>


<div class="faq-header">Account Setting</div>
<div class="tab">
  <input id="accountTitle1" type="checkbox" name="tabs">
  <label for="accountTitle1">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
  <div class="tab-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
  </div>
</div>
<div class="tab">
  <input id="accountTitle2" type="checkbox" name="tabs">
  <label for="accountTitle2">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
  <div class="tab-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
  </div>
</div>
<div class="tab">
  <input id="accountTitle3" type="checkbox" name="tabs">
  <label for="accountTitle3">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
  <div class="tab-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
  </div>
</div>
        <div class="faq-header">Privacy Issue</div>
        <div class="tab">
          <input id="privacyTitle1" type="checkbox" name="tabs">
          <label for="privacyTitle1">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
          <div class="tab-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
          </div>
        </div>
        <div class="tab">
          <input id="privacyTitle2" type="checkbox" name="tabs">
          <label for="privacyTitle2">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
          <div class="tab-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
          </div>
        </div>
        <div class="tab">
          <input id="privacyTitle3" type="checkbox" name="tabs">
          <label for="privacyTitle3">What is Bacon ipsum dolor amet kielbasa spare ribs tail?</label>
          <div class="tab-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
          </div>
        </div>
</div>
  <section class="contact-section">
      <div class="faq-header">More Questions? We're Here to Help!</div>
    <img src="/assets/images/team_image.jpeg" alt="fhteam_image">


    <form action="#" id="faqForm">
      <fieldset>

        <div class="form-group">
          <div class="faq-subject">
            <h6>Subject</h6>
            <textarea name="faq-subject" form="faqform"></textarea>
          </div>
        <div class="faq-description">
          <h6>Description</h6>
          <textarea name="faq-description" form="faqform"></textarea>
        </div>
</div>
      </fieldset>
    </form>

<button class="nextpage" name="next" type="submit" value="host-page1">Submit</button>
</section>
</div>
</div>
