{{#if isHost}}
{{#nav-bar id="profileNav" }}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'hostprofile1-1'}}YOUR PROFILE{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#help">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#accountpage-host">{{#link-to 'accountpage-host'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
  </li>
{{/nav-bar}}

    {{else}}
    {{#nav-bar id="cwkNav-light"}}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'resident-list'}}MY RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#help">{{#link-to 'matchingpage-resident'}}FIND A MATCH{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#help">{{#link-to 'faqpage-resident'}}HELP{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#account-setting"><i class="fa fa-user-circle-o"></i></a>
      </li>
    {{/nav-bar}}
    {{/if}}

<!-- Profile Section -->
<div class="container" id="host-profile">
  <div class="row" id="faq">
    <div class="faq-section">
    <div class="faq-header">Profile Building</div>
    <div class="faq-c">
      <!--Here, I change the span tag to button and add the onclick -->
      {{!-- <div class="faq-q"><button class="faq-t" onclick={{action "expand" target=code}}>+</button>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div> --}}
      <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>

      <div class="faq-a">
        <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
      </div>
    </div>
    <div class="faq-c">
      <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
      <div class="faq-a">
        <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
      </div>
    </div>
    <div class="faq-c">
      <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
      <div class="faq-a">
        <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
      </div>
    </div>
    <div class="faq-c">
      <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
      <div class="faq-a">
        <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
      </div>
    </div>
    <div class="faq-c">
      <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
      <div class="faq-a">
        <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
      </div>
    </div>
<div class="faq-header">Account Setting</div>
<div class="faq-c">
  <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
  <div class="faq-a">
    <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
  </div>
</div>
<div class="faq-c">
  <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
  <div class="faq-a">
    <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
  </div>
</div>
<div class="faq-c">
  <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
  <div class="faq-a">
    <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
  </div>
</div>
        <div class="faq-header">Privacy Issue</div>
        <div class="faq-c">
          <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
          <div class="faq-a">
            <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
          </div>
        </div>
        <div class="faq-c">
          <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
          <div class="faq-a">
            <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
          </div>
        </div>
        <div class="faq-c">
          <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
          <div class="faq-a">
            <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
          </div>
        </div>
        <div class="faq-c">
          <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
          <div class="faq-a">
            <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
          </div>
        </div>
        <div class="faq-c">
          <div class="faq-q"><span class="faq-t">+</span>What is Bacon ipsum dolor amet kielbasa spare ribs tail?</div>
          <div class="faq-a">
            <p>Bacon ipsum dolor amet kielbasa spare ribs tail, meatball pig prosciutto turducken shank leberkas sausage beef corned beef kevin jowl picanha. Pastrami bresaola ribeye prosciutto, fatback pork belly ground round. Pork jowl porchetta t-bone short loin. </p>
          </div>
        </div>
  </div>

  <section class="contact-section">
      <div class="faq-header">More Questions? We're Here to Help!</div>
    <img src="/assets/images/team_image.jpeg" alt="fhteam_image">


    <form action="#" id="faqForm">
      <fieldset>

        <div class="form-group">
          <div class="faq-subject">
            <h6>Subject</h6>
            <textarea name="faq-subject" form="faqform"></textarea>
          </div>
        <div class="faq-description">
          <h6>Description</h6>
          <textarea name="faq-description" form="faqform"></textarea>
        </div>
</div>
      </fieldset>
    </form>

<button class="nextpage" name="next" type="submit" value="host-page1">Submit</button>
</section>
</div>
</div>
