<input
  type="range"
  class="interaction-input"
  min="1"
  max="5"
  value={{@value}}
  onchange={{action @onchange value="target.value"}}
>
<div class="row">
  <div class="col-6 text-left">
    Less
  </div>
  <div class="col-6 text-right">
    More
  </div>
</div>
