{{#if isHost}}
{{#nav-bar id="profileNav" }}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'hostprofile1-1'}}YOUR PROFILE{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-host'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
  </li>
{{/nav-bar}}

    {{else}}
    {{#nav-bar id="cwkNav-light"}}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'resident-list'}}MY RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'matchingpage-resident'}}FIND A MATCH{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-caseworker'}}HELP{{/link-to}}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-caseworker'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
      </li>
    {{/nav-bar}}
    {{/if}}


<!--Profile section-->
<div class="container" id="host-profile">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-12" id="left-column">
      <form action="#" id="hostform">
        <fieldset>
          {{#if isHost}}
                <legend class="hostHeading">STEP 1: Say HI, and introduce yourself!</legend>
                {{else}}
                <legend class="residentHeading">STEP 1: Say HI, and introduce yourself!</legend>
                {{/if}}
          <div class="form-group" id="host-favorite-activity">
            <h6>What do you do in your free time?</h6>
            <input type="text" name="host-favorite-activity" placeholder="Watch football game, hike, garden, bike…">
          </div>

          <div class="form-group" id="host-favorite-food">
            <h6>What’s your favorite food?</h6>
            <input type="text" name="host-favorite-food" placeholder="Steak, seafood, I like all food!">
          </div>
{{#if isHost}}
          <div class="form-group">
            <h6>What kind of movie do you like?</h6>
              <div class="host-movie-dropdown" >
                <select name="gender" id="host-fav-movie">
                  <option value="">Genres</option>
                  <option value="">-----</option>
                    <option value="actionMovie"> Action Movies </option>
                    <option value="adventureMovie"> Adventure Movies </option>
                    <option value="comedies"> Comedies </option>
                    <option value="gangsterMovie"> Gangster Movies </option>
                    <option value="dramas"> Dramas</option>
                    <option value="epicsHistorical"> Epics/Historical </option>
                    <option value="horrorMovie"> Horror Movies </option>
                    <option value="musicalMovie"> Musical Movies </option>
                    <option value="sci-fiMovie"> Sci-fi Movies </option>
                    <option value="adventureMovie"> War / Anti-war Movies </option>
                    <option value="westerns">Westerns</option>
                  </select>
              </div>
            </div>

            {{else}}
            <div class="form-group">
              <h6>What kind of movie do you like?</h6>
                <div class="resident-movie-dropdown" >
                  <select name="gender" id="resident-fav-movie">
                    <option value="">Genres</option>
                    <option value="">-----</option>
                      <option value="actionMovie"> Action Movies </option>
                      <option value="adventureMovie"> Adventure Movies </option>
                      <option value="comedies"> Comedies </option>
                      <option value="gangsterMovie"> Gangster Movies </option>
                      <option value="dramas"> Dramas</option>
                      <option value="epicsHistorical"> Epics/Historical </option>
                      <option value="horrorMovie"> Horror Movies </option>
                      <option value="musicalMovie"> Musical Movies </option>
                      <option value="sci-fiMovie"> Sci-fi Movies </option>
                      <option value="adventureMovie"> War / Anti-war Movies </option>
                      <option value="westerns">Westerns</option>
                    </select>
                </div>
              </div>
              <div class="form-group" id="resident-funfact">
                <h6>Some fun facts about you!</h6>
                <textarea type="text" name="resident-funfact" placeholder="Tell us more about you..."></textarea>
              </div>

            {{/if}}

        </fieldset>
      </form>
    </div>

    <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">

      <div class="quote-section" id="kim-sherman">
        <img src="/assets/images/host_quote_hearts.png" alt="hearts">
        <p class="quote">“We have watched with sadness and shame as more and more people around us have been forced to live without shelter. When we first heard about the BLOCK Project, we immediately knew we wanted to be involved. We are excited about the opportunity
          the BLOCK Project is giving us to connect with a person who has lived without shelter, and to support them in a safe, dry, warm, welcoming home!” </p>
        <p class="hostName"> - Kim Sherman & Dan Tenenbaum,first Host Family,</p>

      </div>
    </div>
  </div>
</div>


<!-- Footer Section -->

<footer class="profile">
{{#if isHost}}
  <!--Page Buttons-->
  <div id="hostPageButton">
    {{#link-to 'hostprofile1-2'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>BACK</button>{{/link-to}}
    {{#link-to 'hostprofile1-4'}}<button class="nextpage" name="next" type="submit" value="host-page1">NEXT</button>{{/link-to}}
  </div>
  <!--Preogress Wrapper-->
  <div class="progress-wrap">
    <div class="progress">
      <div id="hostProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
        <span class="sr-only">30%</span>
      </div>
    </div>
  </div>

  {{else}}
  <!--Page Buttons-->
  <div id="residentPageButton">
    {{#link-to 'residentprofile1-2'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>BACK</button>{{/link-to}}
    {{#link-to 'residentprofile1-4'}}<button class="nextpage" name="next" type="submit" value="host-page1">NEXT</button>{{/link-to}}
  </div>
  <!--Preogress Wrapper-->
  <div class="progress-wrap">
    <div class="progress">
      <div id="residentProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
        <span class="sr-only">30%</span>
      </div>
    </div>
  </div>
{{/if}}
</footer>
