{{#if isHost}}
{{#nav-bar id="hostNav" }}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'hostprofile1-1'}}MY PROFILE{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-host'}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}</a>
</li>
{{/nav-bar}}

    {{else}}
    {{#nav-bar id="cwkNav"}}
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'homepage-caseworker'}}MY RESIDENT{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'matchingpage-resident'}}FIND A MATCH{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-caseworker'}}HELP{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#account-setting">{{#link-to 'accountpage-caseworker'}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}</a>
    </li>
    {{/nav-bar}}
    {{/if}}

  <!-- Profile Section -->

  <div class="container" id="host-profile">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-12 " id="left-column">
        <form action="#" id="hostform">
          <fieldset>
            {{#if isHost}}
                  <legend class="hostHeading">STEP 3: Set Expectation&Contribution!</legend>
                  {{else}}
                  <legend class="residentHeading">STEP 3: Set Expectation&Contribution!</legend>
                  {{/if}}
            <div class="form-group" id="relationship">
              <h6>Name one relationship that you imagine you and your neighbor would be like?</h6>
              <input type="text" name="relationship" placeholder="Friends, family members...">
            </div>

            <div class="form-group" id="slideContainer">
              <h6>How much would you like to interaction with your future neighbors?</h6>
              <input type="range" min="0" max="5" value="1" class="slider" id="myRange">
              <ul>
                <li id="level1">1</li>
                <li id="level2">2</li>
                <li id="level3">3</li>
                <li id="level4">4</li>
                <li id="level5">5</li>
              </ul>

              {{!-- <span id="demo"></span> --}}
            </div>



          </fieldset>
        </form>
      </div>



      <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
        <div class="quote-section">
          <img id="kim-dan-robert" src="/assets/images/kim_dan_robert.jpg" alt="kim_dan_robert">
          <p class="quote">“I feel like a million bucks!” </p><br>
          <p class="hostName"> - Bobby, First Home Resident</p>

        </div>

      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <footer class="profile">
  {{#if isHost}}
    <!--Page Buttons-->
    <div id="hostPageButton">
      {{#link-to 'hostsaving2'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
      {{#link-to 'hostprofile3-2'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
    </div>
    <!--Preogress Wrapper-->
    <div class="progress-wrap">
      <div class="progress">
        <div id="hostProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          <span class="sr-only">90%</span>
        </div>
      </div>
    </div>

    {{else}}
    <!--Page Buttons-->
    <div id="residentPageButton">
      {{#link-to 'residentprofile2-1'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
      {{#link-to 'residentprofile3-2'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
    </div>
    <!--Preogress Wrapper-->
    <div class="progress-wrap">
      <div class="progress">
        <div id="residentProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          <span class="sr-only">90%</span>
        </div>
      </div>
    </div>
  {{/if}}
  </footer>
