{{#if isHost}}
{{#nav-bar id="profileNav" }}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'hostprofile1-1'}}YOUR PROFILE{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-host'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
  </li>
{{/nav-bar}}

    {{else}}
    {{#nav-bar id="cwkNav-light"}}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'homepage-caseworker'}}MY RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'matchingpage-resident'}}FIND A MATCH{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-caseworker'}}HELP{{/link-to}}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-caseworker'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
      </li>
    {{/nav-bar}}
    {{/if}}
  <!-- Profile Section -->

  <div class="container" id="host-profile">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-12" id="left-column">
        <form action="#" id="hostform">
          <fieldset>
            {{#if isHost}}
                  <legend class="hostHeading">STEP 1: Say HI, and introduce yourself!</legend>
                  <div id="host1-4">
                     <div class="form-group" id="illness">
                      <h6>Do you have an active mental illness?</h6>
                      <input type="radio" id="radio1-1" name="illness" value="no" checked>
                      <label for="radio1-1">No</label>
                      <input type="radio" id="radio1-2" name="illness" value="yes">
                      <label for="radio1-2">Yes</label>
                      <input type="text" name="name-of-illness" placeholder="If so, please list the illness">
                    </div>
                    <div class="form-group" id="family-medical-history">
                      <h6>Do you have any medical family history?</h6>
                      <input type="radio" id="radio2-1" name="family-medical-history" value="no" checked>
                      <label for="radio2-1">No</label>
                      <input type="radio" id="radio2-2" name="family-medical-history" value="yes">
                      <label for="radio2-2">Yes</label>
                      <input type="text" name="family-medical-history" placeholder="If so, please lists the details">
                    </div>
                    <div class="form-group" id="host-used-substances">
                      <h6>What substances you use currently?</h6>
                      <input type="checkbox" id="host-chk1-1" name="substances" value="illicit" checked>
                      <label for="host-chk1-1">Illicit Substances</label>
                      <input type="checkbox" id="host-chk1-2" name="substances" value="marijuana">
                      <label for="host-chk1-2">Marijuana</label>
                      <input type="checkbox" id="host-chk1-3" name="substances" value="alcohol">
                      <label for="host-chk1-3">Alcohol</label>
                      <input type="checkbox" id="host-chk1-4" name="substances" value="tabacco">
                      <label for="host-chk1-4">Tabacco</label>
                      <input type="checkbox" id="host-chk1-5" name="substances" value="none">
                      <label for="host-chk1-5">None of them</label>
                    </div>
                    <div class="form-group" id="host-accepted-substances">
                      <h6>What substances that a resident use will you be comfortable with?</h6>
                      <input type="checkbox" id="host-chk2-1" name="substances" value="illicit" checked>
                      <label for="host-chk2-1">Illicit Substances</label>
                      <input type="checkbox" id="host-chk2-2" name="substances" value="marijuana">
                      <label for="host-chk2-2">Marijuana</label>
                      <input type="checkbox" id="host-chk2-3" name="substances" value="alcohol">
                      <label for="host-chk2-3">Alcohol</label>
                      <input type="checkbox" id="host-chk2-4" name="substances" value="tabacco">
                      <label for="host-chk2-4">Tabacco</label>
                      <input type="checkbox" id="host-chk2-5" name="substances" value="none">
                      <label for="host-chk2-5">None of them</label>
                    </div></div>
                  {{else}}
                  <legend class="residentHeading">STEP 1: Say HI, and introduce yourself!</legend>
                  <div id="resident1-4">
                    <div class="form-group" id="illness">
                      <h6>Do you have an active mental illness?</h6>
                      <input type="radio" id="radio1-1" name="illness" value="no" checked>
                      <label for="radio1-1">No</label>
                      <input type="radio" id="radio1-2" name="illness" value="yes">
                      <label for="radio1-2">Yes</label>
                      <input type="text" name="name-of-illness" placeholder="If so, please list the illness">
                    </div>
                    <div class="form-group" id="family-medical-history">
                      <h6>Do you have any medical family history?</h6>
                      <input type="radio" id="radio2-1" name="family-medical-history" value="no" checked>
                      <label for="radio2-1">No</label>
                      <input type="radio" id="radio2-2" name="family-medical-history" value="yes">
                      <label for="radio2-2">Yes</label>
                      <input type="text" name="family-medical-history" placeholder="If so, please lists the details">
                    </div>
                    <div class="form-group" id="host-used-substances">
                      <h6>What substances you use currently?</h6>
                      <input type="checkbox" id="host-chk1-1" name="substances" value="illicit" checked>
                      <label for="host-chk1-1">Illicit Substances</label>
                      <input type="checkbox" id="host-chk1-2" name="substances" value="marijuana">
                      <label for="host-chk1-2">Marijuana</label>
                      <input type="checkbox" id="host-chk1-3" name="substances" value="alcohol">
                      <label for="host-chk1-3">Alcohol</label>
                      <input type="checkbox" id="host-chk1-4" name="substances" value="tabacco">
                      <label for="host-chk1-4">Tabacco</label>
                      <input type="checkbox" id="host-chk1-5" name="substances" value="none">
                      <label for="host-chk1-5">None of them</label>
                    </div>
                    <div class="form-group" id="host-accepted-substances">
                      <h6>What substances that a host use will you be comfortable with?</h6>
                      <input type="checkbox" id="host-chk2-1" name="substances" value="illicit" checked>
                      <label for="host-chk2-1">Illicit Substances</label>
                      <input type="checkbox" id="host-chk2-2" name="substances" value="marijuana">
                      <label for="host-chk2-2">Marijuana</label>
                      <input type="checkbox" id="host-chk2-3" name="substances" value="alcohol">
                      <label for="host-chk2-3">Alcohol</label>
                      <input type="checkbox" id="host-chk2-4" name="substances" value="tabacco">
                      <label for="host-chk2-4">Tabacco</label>
                      <input type="checkbox" id="host-chk2-5" name="substances" value="none">
                      <label for="host-chk2-5">None of them</label>
                    </div></div>
                  {{/if}}


            <br>
          </fieldset>
        </form>
      </div>

      <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">

        <div class="notebox" id="profilephoto">
          <h6 class="note">
        <i class="fa fa-pencil" aria-hidden="true"></i>NOTE</h6> Being honest and sincere is to find a best match!
        </div>
      </div>
    </div>
  </div>


  <!-- Footer Section -->

  <footer class="profile">
  {{#if isHost}}
    <!--Page Buttons-->
    <div id="hostPageButton">
      {{#link-to 'hostprofile1-3'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
      {{#link-to 'hostsaving1'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
    </div>
    <!--Preogress Wrapper-->
    <div class="progress-wrap">
      <div class="progress">
        <div id="hostProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
          <span class="sr-only">40%</span>
        </div>
      </div>
    </div>

    {{else}}
    <!--Page Buttons-->
    <div id="residentPageButton">
      {{#link-to 'residentprofile1-3'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
      {{#link-to 'residentprofile2-1'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
    </div>
    <!--Preogress Wrapper-->
    <div class="progress-wrap">
      <div class="progress">
        <div id="residentProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
          <span class="sr-only">40%</span>
        </div>
      </div>
    </div>
  {{/if}}
  </footer>
