<h6>Public Transportation</h6>
<input type="checkbox" id="link" name="transportation" value="link" checked>
<label for="link">Link</label>
<input type="checkbox" id="bus" name="transportation" value="bus">
<label for="bus">Bus</label>
<input type="text" id="bus-number" name="transportation" placeholder="List accesible Bus No. (e.g. 70 / 11)">
