{{#nav-bar id="hostNav" }}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'hostprofile1-1'}}MY PROFILE{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-host'}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}</a>
</li>
{{/nav-bar}}

  <!-- Profile Section -->

  <div class="container" id="host-profile">
    <div class="row" id="hostsaving2">


      <div class="heading">
        <h5>
          Great Job!<br>
          You are heading to the last step of the profile.
      </h5>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-12 steps" id="step1">
        <img src="/assets/images/icon_hello_2.png" alt="hello-icon">
        <div class="subHeading">Start with a hello </div>
            {{#link-to 'hostprofile1-1'}}<a class="edit" href="#">Edit</a>{{/link-to}}
        <ul>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="greeting"></i>Greeting</li>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="basic-info"></i>Basics</li>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="lifestyle"></i>Lifestyle</li>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="health"></i>Health Condition</li>
        </ul>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12 col-12  steps" id="step2">
        <img src="/assets/images/icon_backyard.png" alt="backyard-icon">
        <div class="subHeading"> Share your backyard </div>
          {{#link-to 'hostprofile2-1'}}<a class="edit" href="#">Edit</a>{{/link-to}}
        <ul>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="location"></i>Location</li>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="backyard-scene"></i>Backyard Scene </li>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="photos"></i>Photos </li>
        </ul>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12 col-12  steps" id="step3">
        <img src="/assets/images/icon_commitment_grey.png" alt="commitment-icon">
        <div class="subHeading"> Set Expectation &amp; Contribution</div>

        <ul>
          <li><i class="fa fa-check-circle" aria-hidden="true" id="expectation"></i>Expectation</li>
          <li><i class="fa fa-check-circle" aria-hidden="true"id="question"></i>Customized questions</li>
        </ul>
      </div>
  </div>
  </div>

  <!-- Footer Section -->
  <footer class="profile">
  {{#if isHost}}
    <!--Page Buttons-->
    <div id="hostPageButton">
      {{#link-to 'hostprofile2-3'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
      {{#link-to 'hostprofile3-1'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
    </div>
    <!--Preogress Wrapper-->
    <div class="progress-wrap">
      <div class="progress">
        <div id="hostProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          <span class="sr-only">80%</span>
        </div>
      </div>
    </div>

    {{else}}
    <!--Page Buttons-->
    <div id="residentPageButton">
      {{#link-to 'residentprofile2-3'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
      {{#link-to 'residentprofile3-1'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
    </div>
    <!--Preogress Wrapper-->
    <div class="progress-wrap">
      <div class="progress">
        <div id="residentProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          <span class="sr-only">80%</span>
        </div>
      </div>
    </div>
  {{/if}}
  </footer>
