<option value="" selected="selected" disabled="disabled">-- select one --</option>
<optgroup label="Central Seattle:">
  <option value="1">Belltown</option>
  <option value="2">Broadmoor</option>
  <option value="3">Capitol Hill</option>
  <option value="4">Central District</option>
  <option value="5">Denny-Blaine</option>
  <option value="6">Downtown</option>
  <option value="7">Eastlake</option>
  <option value="8">First Hill</option>
  <option value="9">International District</option>
  <option value="10">Leschi</option>
  <option value="11">Madison Park</option>
  <option value="12">Madison Valley</option>
  <option value="13">Madrona</option>
  <option value="14">Montlake</option>
  <option value="15">Pioneer Square</option>
  <option value="16">South Lake Union</option>
</optgroup>
<optgroup label="Northeast Seattle:">
  <option value="17">Bryant</option>
  <option value="18">Hawthorne Hills</option>
  <option value="19">Lake City</option>
  <option value="20">Laurelhurst</option>
  <option value="21">Maple Leaf</option>
  <option value="22">Matthews Beach</option>
  <option value="23">Northgate</option>
  <option value="24">Ravenna</option>
  <option value="25">Roosevelt</option>
  <option value="26">U-District</option>
  <option value="27">View Ridge</option>
  <option value="28">Wedgwood</option>
  <option value="29">Windermere</option>
</optgroup>
<optgroup label="Northwest Seattle:">
  <option value="30">Ballard</option>
  <option value="31">Blue Ridge/North Beach</option>
  <option value="32">Broadview</option>
  <option value="33">Crown Hill</option>
  <option value="34">Fremont</option>
  <option value="35">Green Lake</option>
  <option value="36">Greenwood</option>
  <option value="37">Haller Lake</option>
  <option value="38">Loyal Heights</option>
  <option value="39">Magnolia</option>
  <option value="40">Phinney Ridge</option>
  <option value="41">Queen Anne</option>
  <option value="42">Wallingford</option>
  <option value="43">Westlake</option>
  <option value="44">Whittier Heights</option>
</optgroup>
<optgroup label="South Seattle:">
  <option value="45">Beacon Hill</option>
  <option value="46">Columbia City</option>
  <option value="47">Georgetown</option>
  <option value="48">Mount Baker</option>
  <option value="49">Rainier Beach</option>
  <option value="50">Seward Park</option>
  <option value="51">South Park</option>
</optgroup>
<optgroup label="West Seattle:">
  <option value="52">Admiral</option>
  <option value="53">Alki</option>
  <option value="54">Fauntleroy</option>
  <option value="55">Junction</option>
</optgroup>
