{{set-body-class "community"}}
<!-- Profile Section -->

<header id="thankyoupage">
  {{#if isHost}}
  <h1>Congratulation</h1>
<h5>We are so blessed to have you in the community.<br>
Our team will be matching the best resident for you. <br>
Keep eyes on your email box!</h5>
{{#link-to 'homepage-host'}}
<button type="button" class="backpage" name="prev" value="home-page">Home Page</button>  {{/link-to}}
{{#link-to 'accountpage-host'}}
<button type="button" class="nextpage" name="next" value="account-setting"> Change Email </button> {{/link-to}}
{{else if isMatch}}
  <h5>Thanks for all your patience and time!
    <br>  Our team will be matching the best neightbor for you <br>Please hold on a bit.
  </h5>
  {{#link-to 'matchingpage-resident'}}
  <button type="button" class="backpage" name="prev" value="matching-page">Find Other Match</button>  {{/link-to}}

    {{else}}
    <h1>Congradulation</h1>
    <h5>We are so blessed to have you in the community.<br>
    </h5>
    {{#link-to 'matchingpage-resident'}}
    <button id="resident-homepage-btn" type="button" class="backpage" name="prev" value="communityPage">Find a Match</button>  {{/link-to}}

  {{/if}}
</header>
