{{#image-page class="community"}}
  <h1>Coming Soon</h1>
  <h5>
    We are looking forward to bringing all neighbors together.<br>
    Stay Tuned with us!
  </h5>
  {{#link-to "auth.index" class="btn action"}}
    Home
  {{/link-to}}
{{/image-page}}
