{{#nav-bar}}{{/nav-bar}}

{{set-body-class "homepage-host"}}

<header>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-5 my-auto">
        <div class="header-content mx-auto" id="mainpageTop">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolore, error, in perspiciatis quasi.</h2>
          {{#link-to 'auth.profile.1-1' class="btn btn-outline btn-xl js-scroll-trigger"}}
            Build My Profile
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</header>

<section class="process">
  <div class="container">
    <h1 class='process-heading'>HOW IT WORKS</h1>
    <div class="row">
      <div class="col-lg-4">
        <div class="process-item">
          <img class="process-icon" src="/assets/images/icon_buildprofile.png" alt="build profile">
          <h3> 1. Build Your Profile</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="process-item">

          <img class="process-icon" src="/assets/images/icon_getmatched.png" alt="get matched">
          <h3>2. Get Matched</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="process-item">

          <img class="process-icon" src="/assets/images/icon_meetneighbors.jpg" alt="meet neighbors">
          <h3>3. Meet Your Neighbors</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <ul class="list-inline list-social">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/HomelessInSeattle/" target="_blank" rel="noopener">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/facinghomelessness/" target="_blank" rel="noopener">
          <i class="fa fa-instagram"></i>
        </a>
      </li>

    </ul>
    <ul class='contact-information'>
      <li>206.632.7299 </li>
      <li>
        <a href="mailto:info@facinghomelessness.org">info@facinghomelessness.org</a>
      </li>

      <li> 4001 9th Ave NE, Seattle, WA 98105</li>
      <li class='fh-link'>
        <a href="https://www.facinghomelessness.org/about" target="_blank" rel="noopener">
          Facing Homelessness
        </a>
      </li>
      <li class='fh-link'>
        <a href="http://www.the-block-project.com/home/" target="_blank" rel="noopener">
          The Block Project
        </a>
      </li>
    </ul>
  </div>
</section>

<footer class="homepage">
  &copy; 2017 The Block Project. All Rights Reserved.
</footer>
