//Basic and Admin theme

$mainGrey: #666666;
$lightGrey: #D5D5D5;
$white: #FFFFFF;
$darkGrey: #333333;
$brandBlack: #312923;

// Host theme
$mainOrange: #D66229;
$darkOrange: #C24F17;

//Caseworker theme
$mainGreen: #8BA334;
$darkGreen: #5B8021;
