//Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,500,600');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: 1px;
}

button {
  font-size: 0.8em;
  cursor: pointer;
}

hr {
  max-width: 90%;
  color: #fff;
}

p {
  margin-bottom: 20px;
}

section {
  padding: 50px 0;
}

.user-type-caseworker {
  .host-only {
    display: none;
  }
  .admin-only {
    display: none;
  }
}

.user-type-admin {
  .host-only {
    display: none;
  }
  .caseworker-only {
    display: none;
  }
}

.user-type-host {
  .admin-only {
    display: none;
  }
  .caseworker-only {
    display: none;
  }
}

.page-with-header {
  margin-top: $page-top-margin;
}

[role="button"] {
  cursor: pointer;
}

.btn {
  border-radius: 22.5px;
}

.btn-primary {
  color: $white;

  // override bootstrap
  &:not(:disabled):not(.disabled) {
    &, &:hover, &:focus, &:active {
      border: none;
      box-shadow: none;
    }
  }

  @mixin user-type($color) {
    &:not(:disabled):not(.disabled) {
      &, &:focus, &:active {
        background-color: $color;
      }
    }

    &:hover {
      background-color: darken($color, 6%);
    }
    &:active {
      background-color: darken($color, 10%);
    }
  }

  @include user-type($mainOrange);

  .user-type-caseworker & {
    @include user-type($mainGreen);
  }
}
