.image-page {
  height: 100vh;
  padding: 200px 300px;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  h5 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.4em;
  }

  .action {
    width: 20%;
    line-height: 26px;
    margin: 20px auto;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 0.8em;

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &, &:hover {
      text-decoration: none;
    }
  }
}

.image-page {
  &.community {
    background-image: url("../../assets/images/community_heroimg.jpg");
  }

  &.thankyou {
    background-image: url("../../assets/images/thankyou_heroimg.png");
  }

  &.faq {
    background-image: url("../../assets/images/faq_heroimg.png");
  }
}
