/* NOTE Signin Page */

h1,
h3 {
    font-weight: 300;
    color: #636363;
}

//p {
//    font-weight: 50;
//    color: #636363;
//}
body.signin-page {
    background-image: url('../../assets/images/signin_heroimg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
}

form#signinPage {
    width: 420px;
    margin: 50px auto;
    padding: 30px 30px 30px 30px;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    border-radius: 5px;
}

form h1.formHeader {
    text-align: center;
    color: #363636;
    font-weight: 600;
    margin: 10px auto;
    padding: 10px 0 5px 0;
}

.loginGroup {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    margin: 0 auto;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #ffffff;
}


/* Label */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


/* active */

input:focus~label,
input.typed~label {
    top: -20px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    left: -5px;
    /* font-size: 14px; */
    color: #d66229;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #d66229;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* Notification */

.notification {
    font-size: 12px;
    margin: 8px 3px 2px 3px;
    color: #636363;
    letter-spacing: 0.3px;
    line-height: 125%;
}

.notification i {
    padding: 0 5px;
}

.notification a{
      margin-top: 10px;
      text-decoration-style: none;
}

span.getCode {
    font-size: 12px;
    color: #636363;
}

span.getCode:hover {
      color: #535353;
}



/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px auto;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #d66229;
    border-radius: 10px;
}

.button:focus {
    outline: 0;
}


/* Button modifiers */

.buttonOrange {
    background: #d66229;
}

.buttonOrange:hover {
    background: #cb5c26;
    border: 2px solid #cb5c26;
    color: #ffffff;
}


div.resetPassword {
    text-align: center;
}

div.resetPassword a {
    margin-top: 10px;
    text-decoration-style: none;
    font-size: 14px;
    color: #636363;
}

div.resetPassword a:hover,
div.resetPassword a:focus:hover {
    color: #535353;
}


/* Media */

@media (max-width: 470px) {
    form {
        width: 380px;
        margin: 50px auto;
        padding: 20px 20px 20px 20px;
    }
}


/* NOTE Host Home Page Section*/

a {
    color: #ffffff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #fcbd20;
}

hr {
    max-width: 90%;
    color: #fff;
}

p {
    margin-bottom: 20px;
}

section {
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
}

section h2 {
    font-size: 2.15em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}


/* NOTE Navigation Section */


/* mobile device */

#mainNav {
    border-color: transparent;
    background-color: #000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
}

#mainNav .navbar-toggler {
    font-size: .8em;
    padding: 12px 12px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

#mainNav i.fa-bars {
    font-size: 1em;
    color: #fff;
}

#mainNav .navbar-nav {
    line-height: 70px;
    background-color: transparent;
}

#mainNav .navbar-nav>li>a {
    font-size: .8em;
    font-family: 'Roboto', sans-serif;
    padding: 2px 10px;
    color: #fff;
}

#mainNav .navbar-nav>li>a.active {
    color: #d66229 !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
    color: #fff;
    text-align: center;
    background-color: transparent;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
    color: #d66229;
    background-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0;
    margin: 0;
    font-size: .8em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.nav-link {
    display: block;
    padding: 0;
    color: #fff;
    height: 50px;
    line-height: 50px;
}


/*#mainNav .dropdown-menu .nav-link {}

*/

#mainNav .dropdown-menu>li>a.active {
    color: #d66229 !important;
    background-color: transparent;
}

#mainNav .dropdown-menu>li>a,
#mainNav .dropdown-menu>li>a:focus {
    color: #5a5a5a;
    text-align: center;
}

#mainNav .dropdown-menu>li>a:hover,
#mainNav .dropdown-menu>li>a:focus:hover {
    color: #d66229;
}

ul.navbar-nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
    background-color: #000;
}

i.fa-user-circle-o {
    font-size: 1.5em;
    padding-left: 10px;
}


/*desktop device*/

@media (min-width: 980px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }
    #mainNav .navbar-brand img {
        height: 75px;
        width: 75px;
    }
    #mainNav .navbar-nav>li>a,
    #mainNav .navbar-nav>li>a:focus {
        color: #fff;
        background-color: transparent;
    }
    #mainNav .navbar-nav>li>a:hover,
    #mainNav .navbar-nav>li>a:focus:hover {
        color: #d66229;
        background-color: transparent;
    }
    #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: black;
        height: 80px;
    }
    #mainNav.navbar-shrink .navbar-nav>li>a,
    #mainNav.navbar-shrink .navbar-nav>li>a:focus {
        color: #fff;
    }
    #mainNav.navbar-shrink .navbar-nav>li>a:hover,
    #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover {
        color: #d66229;
    }
    #mainNav>ul .dropdown-menu>li>a {
        font-size: .8em;
        font-family: 'Lato', 'sans-serif';
        padding: 0;
        color: #fff;
    }
}


/* NOTE Header Section */

header {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background-size: cover;
    background-image: url('../../assets/images/mainpageimage_dark.jpg')
}

div.header-content {
    padding: 250px 0;
    text-align: center;
    color: #fff;
}

div.header-content h2 {
    font-size: 1.5em;
    font-weight: 300;
}

.btn-outline {
    margin-top: 20px;
    color: #fff;
    border: 1px solid;
    border-color: transparent;
    background-color: #d66229;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: white;
    background-color: rgb(188, 73, 17);
}

.header-content a.btn {
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.btn-xl {
    font-size: 1em;
    font-weight: 300;
    padding: 15px 45px;
    letter-spacing: 3px;
}

@media (min-width: 992px) {
    header {
        height: 100%;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header .header-content {
        margin-bottom: 0;
        text-align: left;
        color: #fff;
    }
    header .header-content h2 {
        font-size: 2em;
        font-weight: 300;
    }
}

@media (max-width: 780px) {
    header {
        background-image: url(../../assets/images/mainpageimage_dark_780px.jpg)
    }
    div.header-content {
      margin-top:65px;

    }
}


/* NOTE Process Section */


section.process .heading h1{
    margin-top: auto 10px;
    text-align: center;
    color:#d66229;
    font-size:1.5em;
    font-weight: 400;
}
section.process .process-item {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

section.process .process-item h3 {
    margin-top: 0;
    font-size:1.2em;
    font-weight: 400;
}

section.process .process-item  h5 {
    margin-bottom: 0;
    font-size:1em;
}

section.process img.process-icon {
    height: 150px;
    padding: 10px;
    margin: 10px;
}


section.process .process-item i {
    font-size: 5em;
    display: block;
    margin-bottom: 15px;
}

section.process img.process-icon {
    height: 150px;
    padding: 10px;
    margin: 10px;
}


/* NOTE Contact Section */

section.contact {
    text-align: center;
    background-color: #d7d7d7;
    padding: 0;
    margin: 0;
    height: auto;
}

section.contact h2 {
    margin: 0;
}

section.contact ul.list-social {
    margin-bottom: 0;
}

section.contact ul.list-social li a {
    font-size: 1.8em;
    line-height: 60px;
    display: block;
    width: 60px;
    height: 60px;
    color: #000;
    border-radius: 100%;
    border: 2.5px solid #000;
    background-color: #d7d7d7;
    margin: 15px 10px 10px 0px;
}

section.contact ul.list-social li.social-facebook a {
    background-color: #d7d7d7;
}

section.contact ul.list-social li.social-facebook a:hover {
    background-color: #000;
    color: #d7d7d7;
}

section.contact ul.list-social li.social-instagram a {
    background-color: #d7d7d7;
}

section.contact ul.list-social li.social-instagram a:hover {
    background-color: #000;
    color: #d7d7d7;
}

section.contact ul.contact-information {
    font-size: 1em;
    display: block;
    width: auto;
    color: #000;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: -40px;
}

section.contact ul.contact-information li {
    list-style-type: none;
}

section.contact ul.contact-information li a {
    text-align: center;
}

.fhLink,
.tbpLink {
    display: inline-block;
}

.fhLink a,
.tbpLink a {
    text-decoration-style: none;
    color: #000;
}

.fhLink a:hover,
.tbpLink a:hover {
    color: #d66229;
}


/* NOTE Footer Section */

footer {
    padding: 10px;
    text-align: center;
    color: #343434;
    background-color: #d7d7d7;
}

footer p {
    font-size: .8em;
    margin: 0;
}

@media (max-width: 740px) {
    footer {
        color: #343434;
        background-color: #d7d7d7;
    }
}


/*!
 * Start Bootstrap - New Age v4.0.0-beta.2
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */
