/* NOTE Signin Page */
h1,
h3 {
  font-weight: 300;
  color: #636363;
}
//p {
//    font-weight: 50;
//    color: #636363;
//}

body.signin-page {
  background-image: url("../../assets/images/signin_heroimg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
}

form#signinPage {
  width: 420px;
  margin: 50px auto;
  padding: 30px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
  border-radius: 5px;
}

form h1.formHeader {
  text-align: center;
  color: #363636;
  font-weight: 600;
  margin: 10px auto;
  padding: 10px 0 5px;
}

.loginGroup {
  position: relative;
  margin-bottom: 45px;
}

.loginGroup input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  margin: 0 auto;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.loginGroup input:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}
/* Label */
.loginGroup label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* active */
.loginGroup input.typed~label,
.loginGroup input:focus~label {
  top: -20px;
  -webkit-transform: scale(.75);
  transform: scale(.75);
  left: -5px;
  /* font-size: 14px; */
  color: #d66229;
}
/* Underline */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:after,
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #d66229;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}
/* active */
input:focus~.bar:after,
input:focus~.bar:before {
  width: 50%;
}
/* Highlight */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* Notification */
.notification {
  font-size: 0.8em;
  margin: 8px 3px 2px;
  color: #636363;
  letter-spacing: 0.3px;
  line-height: 125%;
}

.notification i {
  padding: 0 5px;
}

.notification a {
  margin-top: 10px;
  text-decoration-style: none;
}

span.getCode {
  color: #636363;
}

span.getCode:hover {
  color: #535353;
}
/* Button */
.enter-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px auto;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid #d66229;
  border-radius: 30px;
}

.button:focus {
  outline: 0;
}
/* Button modifiers */
.buttonOrange {
  background: #d66229;
}

.buttonOrange:hover {
  background: #cb5c26;
  border: 2px solid #cb5c26;
  color: #ffffff;
}

div.resetPassword {
  text-align: center;
}

div.resetPassword a {
  margin-top: 10px;
  text-decoration-style: none;
  font-size: 14px;
  color: #636363;
}

div.resetPassword a:focus:hover,
div.resetPassword a:hover {
  color: #535353;
}
/* Media */
@media (max-width: 470px) {
  form {
    width: 380px;
    margin: 50px auto;
    padding: 20px;
  }
}
/* NOTE Host Home Page Section*/
body.homepage-host {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  overflow: auto;
}

a {
  color: #ffffff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

a:focus,
a:hover {
  color: #fcbd20;
}

hr {
  max-width: 90%;
  color: #fff;
}

p {
  margin-bottom: 20px;
}

section {
  padding: 50px 0;
  font-family: 'Roboto', sans-serif;
}

section h2 {
  font-size: 2.15em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
/* NOTE Navigation Section */
/* mobile device */
#mainNav {
  border-color: transparent;
  background-color: #000;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
}

#mainNav .navbar-toggler {
  font-size: 0.8em;
  padding: 12px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}

#mainNav i.fa-bars {
  font-size: 0.8em;
  color: #fff;
}

#mainNav .navbar-nav {
  line-height: 70px;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a {
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  padding: 2px 10px;
  color: #fff;
}

#mainNav .navbar-nav > li > a.active {
  color: #d66229 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #fff;
  text-align: center;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a:focus:hover,
#mainNav .navbar-nav > li > a:hover {
  color: #d66229;
  background-color: transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 5px;
}

.nav-link {
  display: block;
  padding: 0;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
/*#mainNav .dropdown-menu .nav-link {}

*/
#mainNav .dropdown-menu > li > a.active {
  color: #d66229 !important;
  background-color: transparent;
}

#mainNav .dropdown-menu > li > a,
#mainNav .dropdown-menu > li > a:focus {
  color: #5a5a5a;
  text-align: center;
}

#mainNav .dropdown-menu > li > a:focus:hover,
#mainNav .dropdown-menu > li > a:hover {
  color: #d66229;
}

ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
  background-color: #000;
}

i.fa-user-circle-o {
  font-size: 0.8em;
  padding: 8px 0 0 10px;
}
/*desktop device*/
@media (min-width: 980px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-brand img {
    height: 65px;
    width: 65px;
  }

  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
  }

  #mainNav .navbar-nav > li > a:focus:hover,
  #mainNav .navbar-nav > li > a:hover {
    color: #d66229;
    background-color: transparent;
  }

  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: black;
    height: 80px;
  }

  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #fff;
  }

  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:hover {
    color: #d66229;
  }

  #mainNav > ul .dropdown-menu > li > a {
    font-size: 0.8em;
    font-family: 'Lato', 'sans-serif';
    padding: 0;
    color: #fff;
  }
}
/* NOTE Header Section */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background-size: cover;
  background-image: url("../../assets/images/mainpageimage_dark.jpg");
}

div.header-content {
  padding: 250px 0;
  text-align: center;
  color: #fff;
}

div.header-content h2 {
  font-size: 1.5em;
  font-weight: 300;
}

.btn-outline {
  margin-top: 20px;
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  background-color: #d66229;
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  color: white;
  background-color: rgb(188, 73, 17);
}

.header-content a.btn {
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.btn-xl {
  font-size: 1em;
  font-weight: 300;
  padding: 15px 45px;
  letter-spacing: 3px;
}
@media (min-width: 992px) {
  header {
    height: 100%;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header .header-content {
    margin-bottom: 0;
    text-align: left;
    color: #fff;
  }

  header .header-content h2 {
    font-size: 2em;
    font-weight: 300;
  }
}
@media (max-width: 780px) {
  header {
    background-image: url("../../assets/images/mainpageimage_dark_780px.jpg");
  }

  div.header-content {
    margin-top: 65px;
  }
}
/* NOTE Process Section */
section.process .heading h1 {
  margin-top: auto 10px;
  text-align: center;
  color: #d66229;
  font-size: 1.5em;
  font-weight: 400;
}

section.process .process-item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

section.process .process-item h3 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 400;
}

section.process .process-item h5 {
  margin-bottom: 0;
  font-size: 1em;
}

section.process img.process-icon {
  height: 150px;
  padding: 10px;
  margin: 10px;
}

section.process .process-item i {
  font-size: 5em;
  display: block;
  margin-bottom: 15px;
}

section.process img.process-icon {
  height: 150px;
  padding: 10px;
  margin: 10px;
}
/* NOTE Contact Section */
section.contact {
  text-align: center;
  background-color: #d7d7d7;
  padding: 0;
  margin: 0;
  height: auto;
}

section.contact h2 {
  margin: 0;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 1.8em;
  line-height: 60px;
  display: block;
  width: 60px;
  height: 60px;
  color: #000;
  border-radius: 100%;
  border: 2.5px solid #000;
  background-color: #d7d7d7;
  margin: 15px 10px 10px 0;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #d7d7d7;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #000;
  color: #d7d7d7;
}

section.contact ul.list-social li.social-instagram a {
  background-color: #d7d7d7;
}

section.contact ul.list-social li.social-instagram a:hover {
  background-color: #000;
  color: #d7d7d7;
}

section.contact ul.contact-information {
  font-size: 1em;
  display: block;
  width: auto;
  color: #000;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: -40px;
}

section.contact ul.contact-information li {
  list-style-type: none;
}

section.contact ul.contact-information li a {
  text-align: center;
}

.fhLink,
.tbpLink {
  display: inline-block;
}

.fhLink a,
.tbpLink a {
  text-decoration-style: none;
  color: #000;
}

.fhLink a:hover,
.tbpLink a:hover {
  color: #d66229;
}
/* NOTE Footer Section */
footer {
  padding: 10px;
  text-align: center;
  color: #343434;
  background-color: #d7d7d7;
}

footer p {
  font-size: 0.8em;
  margin: 0;
}
@media (max-width: 740px) {
  footer {
    color: #343434;
    background-color: #d7d7d7;
  }
}
/*!
 * Start Bootstrap - New Age v4.0.0-beta.2
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */
/* NOTE HostProfile1-1 Section */
/* mobile device */
#hostProfileNav {
  border-color: transparent;
  background-color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
}

#hostProfileNav .navbar-toggler {
  font-size: 0.8em;
  padding: 12px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

#hostProfileNav i.fa-bars {
  font-size: 0.8em;
  color: #000;
}

#hostProfileNav .navbar-nav {
  line-height: 70px;
  background-color: transparent;
}

#hostProfileNav .navbar-nav > li > a {
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  padding: 2px 10px;
  color: #000;
}

#hostProfileNav .navbar-nav > li > a.active {
  color: #d66229 !important;
  background-color: transparent;
}

#hostProfileNav .navbar-nav > li > a,
#hostProfileNav .navbar-nav > li > a:focus {
  color: #000;
  text-align: center;
  background-color: transparent;
}

#hostProfileNav .navbar-nav > li > a:focus:hover,
#hostProfileNav .navbar-nav > li > a:hover {
  color: #d66229;
  background-color: transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  color: #000;
  text-align: center;
  list-style: none;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 5px;
}

.nav-link {
  display: block;
  padding: 0;
  color: #000;
  height: 50px;
  line-height: 50px;
}
/*#mainNav .dropdown-menu .nav-link {}

 */
#hostProfileNav .dropdown-menu > li > a.active {
  color: #d66229 !important;
  background-color: transparent;
}

#hostProfileNav .dropdown-menu > li > a,
#hostProfileNav .dropdown-menu > li > a:focus {
  color: #5a5a5a;
  text-align: center;
}

#hostProfileNav .dropdown-menu > li > a:focus:hover,
#hostProfileNav .dropdown-menu > li > a:hover {
  color: #d66229;
}

ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
  background-color: #fff;
}

i.fa-user-circle-o {
  font-size: 1.5em;
  padding: 8px 0 0 10px;
}
/*desktop device*/
@media (min-width: 980px) {
  #hostProfileNav {
    border-color: transparent;
    background-color: transparent;
  }

  #hostProfileNav .navbar-brand img {
    height: 60px;
    width: 60px;
  }

  #hostProfileNav .navbar-nav > li > a,
  #hostProfileNav .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
  }

  #hostProfileNav .navbar-nav > li > a:focus:hover,
  #hostProfileNav .navbar-nav > li > a:hover {
    color: #d66229;
    background-color: transparent;
  }

  #hostProfileNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: #fff;
    height: 80px;
  }

  #hostProfileNav.navbar-shrink .navbar-nav > li > a,
  #hostProfileNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #000;
  }

  #hostProfileNav.navbar-shrink .navbar-nav > li > a:focus:hover,
  #hostProfileNav.navbar-shrink .navbar-nav > li > a:hover {
    color: #d66229;
  }

  #hostProfileNav > ul .dropdown-menu > li > a {
    font-size: 0.8em;
    font-family: 'Lato', 'sans-serif';
    padding: 0;
    color: #000;
  }
}

#host-profile {
  width: 100%;
  color: #000;
  background-color: white;
  padding: 10px 5px;
  margin-top: 90px;
  border-top: 1.5px solid #eee;
}

form#hostform {
  padding: 0 10px;
}

#hostform fieldset {
  border-style: none;
}

fieldset legend {
  color: #d66229;
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: 1.5px;
}

#hostform fieldset h6 {
  font-weight: 600;
  color: #666;
}

div#left-column {
  margin: 20px 0;
  width: 1px;
  border-right: 1px solid #d66229;
}

div#right-column {
  margin: 20px 0;
}
/* Profile Photo Uploader*/
#profile-upload-preview {
  margin: 5px auto;
}

#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 20px auto;
}

#profile-container img {
  width: 200px;
  height: 200px;
}

form#hostform textarea {
  width: 97%;
  height: 150px;
  padding: 10px;
  font-size: 0.9em;
  margin: 10px 0 20px;
  color: #999;
  border-radius: 5px;
  border: 1px solid #999;
  clear: both;
  overflow: hidden;
}

i.fa-arrow-left {
  font-size: 1.2em;
  padding-right: 10px;
  font-weight: 600;
}

button.backpage {
  text-align: center;
  width: 20%;
  height: 45px;
  display: inline-block;
  color: #989898;
  border-style: none;
  background-color: transparent;
  border-radius: 22.5px;
  font-weight: 600;
  margin: 10px 10px 10px 0;
}

button.backpage:hover {
  color: #6a6a6a;
  border: 1.6px solid #6a6a6a;
}

button.nextpage {
  width: 20%;
  height: 45px;
  margin: 10px;
  float: right;
  display: inline-block;
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  background-color: #d66229;
  border-radius: 22.5px;
  text-align: center;
}

button.nextpage:hover {
  background-color: #bd5624;
}
/* Vertical Line*/
#verticalLine {
  border-left: 1px solid #d66229;
  margin: 30px 0;
}
/* Note */
i.fa-pencil, i.fa-shield {
  padding-right: 10px;
}

div.notebox {
  margin: 60px 0 0 30px;
  padding: 15px;
  border: 1px solid #bebebe;
  width: 375px;
  border-radius: 8px;
  color: #989898;
  letter-spacing: 0.06em;
  font-size: .9em;
  line-height: 1.5em;
}

h6.note {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1.2px;
}

#right-column ul {
  margin-bottom: 0;
}

div.notebox ul li {
  font-size: 0.85em;
}

div.notebox#greetings {
  margin: 140px 30px 30px;
  height: auto;
}
/* Footer */
footer.progress-wrap {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}

div.progress {
  width: 100%;
  height: 25px;
}

div.progress-bar {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #dc7a4b;
}
/* HostProfile1-2 */
.form-group {
  display: block;
  margin-right: 20px;
}

#host-profile h5 {
  margin: 5px 0;
}

#hostform input {
  font-size: 0.9em;
}

div.left-side,
div.right-side {
  width: 46%;
  display: inline-block;
}

#firstname input[type="text"],
#lastname input[type="text"],
#langugage input[type="text"] {
  background-color: transparent;
  border: 1px solid #bebebe;
  border-radius: 5px;
  color: grey;
  letter-spacing: 1.2px;
  padding-left: 10px;
  height: 48px;
  width: 100%;
}

#firstname input input::placeholder,
#langugage input::placeholder,
#lastname input::placeholder {
  color: #999;
  padding-left: 5px;
}
/* Birthday */
div.dob-dropdown select,
div.gender-dropdown select {
  font-size: 0.9em;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #bebebe;
  color: grey;
  letter-spacing: 1.2px;
}

select#dob-day {
  width: 25%;
}

select#dob-month {
  width: 45%;
}

select#dob-year {
  width: 26.5%;
}

div.gender-dropdown select {
  width: 100%;
}

select#occupation {
  height: 50px;
  width: 99.75%;
  font-size: 0.9em;
  color: grey;
  border: 1px solid #bebebe;
  letter-spacing: 1.2px;
}

#langugage input {
  width: 99.75%;
  margin-left: 0;
  font-size: 0.8em;
  color: #999;
  letter-spacing: 1.2px;
}

.number-incrementer {
  display: inline-block;
  width: 150px;
  padding-left: 5px;
  padding-right: 50px;
}

p.family {
  font-size: 0.8em;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0;
  color: #595959;
  letter-spacing: 1.2px;
}

.btn-number {
  padding: 0 2px;
  background-color: transparent;
}

.input-group-btn img {
  margin-bottom: 0;
}

input#adult.form-control,
input#kid.form-control,
input#pet.form-control {
  text-align: center;
  padding: 0;
  width: 20px;
  height: 50px;
  border-style: none;
}

.quote-section {
  width: 90%;
  height: 90%;
  border-style: none;
  margin: 0 auto;
}

.quote-section img {
  position: absolute;
  width: 55%;
  margin: 200px 0 0 -180px;
}

,
.quote-section p.hostName,
.quote-section p.quote {
  position: relative;
  float: left;
  width: 98%;
  color: #999;
  letter-spacing: 1.2px;
  font-size: 1em;
  z-index: 100;
  line-height: 30px;
}

p.quote {
  margin: 80px 0 0;
  font-style: italic;
}

p.hostName {
  margin: 0;
  font-weight: 500;
}
/* HostProfile1-3 */
,
#host-favorite-activity input,
#host-favorite-food input {
  background-color: transparent;
  border: 1px solid #bebebe;
  border-radius: 5px;
  color: grey;
  letter-spacing: 1.2px;
  padding-left: 10px;
  height: 48px;
  width: 100%;
}

#host-favorite-activity input::placeholder,
#host-favorite-food input::placeholder {
  color: #999;
  padding-left: 5px;
}

,
div.movie-dropdown select {
  font-size: 0.9em;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #bebebe;
  color: grey;
  letter-spacing: 1.2px;
  margin-bottom: 200px;
  width: 100%;
}

#kim-sherman img {
  position: absolute;
  width: 50%;
  margin: 400px 0 0 -100px;
}

,
#kim-sherman p.hostName,
#kim-sherman p.quote {
  width: 100%;
  color: #999;
  letter-spacing: 1.2px;
  font-size: 1em;
  z-index: 100;
  line-height: 30px;
}

#kim-sherman p.quote {
  margin: 50px 0 0;
  font-style: italic;
}
/* Hostprofile1-4 */
#hostform input[type=checkbox],
#hostform input[type=radio] {
  display: none;
}

#hostform input[type=checkbox] + label,
#hostform input[type=radio] + label {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin: 5px;
  padding: 2px 5px;
  margin-bottom: 0;
  font-size: 1em;
  color: #999;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  height:38px;
  width:72px;
}

#hostform input[type=checkbox] + label {
  width: 31%;
  font-size:.9em;
}

#hostform input[type=checkbox]:checked + label,
#hostform input[type=radio]:checked + label {
  background-image: none;
  outline: 0;
  border: 1px solid #e59f7c;
  background-color: transparent;
  color: #e59f7c;
}

#family-medical-history input[type=text],
#illness input[type=text] {
  display: inline-block;
  background-color: transparent;
  letter-spacing: 1.2px;
  padding-left: 10px;
  height: 45px;
  line-height: 48px;
  width: 70%;
  border-style: none;
  border-bottom: 1px solid #999;
  color: #666;
}

#family-medical-history input::placeholder,
#illness input::placeholder {
  padding-left: 0;
  color: #bebebe;
}

/* Hostprofile2-1*/

#host-address input[type="text"],#environment input[type="text"]
 {
  background-color: transparent;
  border: 1px solid #bebebe;
  border-radius: 5px;
  color: #666;
  letter-spacing: 1.2px;
  padding-left: 10px;
  height: 48px;
  width: 100%;
}

#host-address input::placeholder, #environment input::placeholder {
  color: #999;
  padding-left: 5px;
}

#transportation input[type=checkbox], {
  display: none;
}

#transportation input[type=checkbox] + label{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin: 5px;
  margin-bottom: 0;
  font-size: 1em;
  color: #666;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  height:38px;
  width: 16%;
  font-size:.9em;
}

#transportation label{padding:0}
#transportation input[type=checkbox]:checked + label {
  background-image: none;
  outline: 0;
  border: 1px solid #e59f7c;
  background-color: transparent;
  color: #e59f7c;
}


input#bus-number{
  display: inline-block;
  background-color: transparent;
  letter-spacing: 1.2px;
  padding-left: 10px;
  height: 45px;
  line-height: 48px;
  width: 62%;
  border-style: none;
  border-bottom: 1px solid #999;
  color: #666;
}

input#bus-number::placeholder{
  padding-left: 0;
  color: #bebebe;
}
