.profile-page {
  // leave room for header and footer
  margin-top: $page-top-margin;
  padding-bottom: 105px;
  color: #000;

  h5 {
    margin: 5px 0;
  }
}

.profile-page-column {
  margin: 20px 0;

  ul {
    margin-bottom: 0;
  }
}

.profile-form {
  padding: 0 10px;

  fieldset {
    border-style: none;
  }

  legend {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1.5px;

    .user-type-host & {
      color: $mainOrange;
    }

    .user-type-caseworker & {
      color: #8ba334;
    }
  }

  .control-label {
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    color: #666;
    margin-bottom: 5px;
  }

  input,
  textarea,
  .ember-power-select-trigger,
  .form-dropdown-trigger {
    width: 100%;
    background-color: transparent;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 1px 1px 1px 10px;
    color: grey;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
  }

  input,
  .ember-power-select-trigger,
  .form-dropdown-trigger {
    line-height: $form-control-height - 4; // 1px border, 1px padding
  }

  .ember-power-select-trigger,
  .form-dropdown-trigger  {
    cursor: pointer;
  }

  .ember-power-select-placeholder,
  .ember-power-select-selected-item {
    margin-left: 0;
  }

  .ember-power-select-option {
    font-size: .8em;
  }

  textarea {
    padding: 10px;
    height: 120px;
  }

  input::placeholder,
  textarea::placeholder {
    color: #999;
  }

  // date inputs end up slightly taller than others for some reason
  input[type="date"] {
    height: 30px;
  }

  .form-group {
    margin: 0 10px 10px 0;
  }
}

.family-label {
  font-size: 0.9em;
  font-weight: 500;
  display: inline-block;
  color: #999;
  letter-spacing: 1.2px;
}

@import './profile-page/bio-form';
@import './profile-page/check-box';
@import './profile-page/footer';
@import './profile-page/notebox';
@import './profile-page/review-page';
@import './profile-page/testimonial-pic';
@import './profile-page/transit';
