/* NOTE Signin Page */

h1,
h3 {
    font-weight: 300;
    color: #636363;
}

p {
    font-weight: 50;
    color: #636363;
}

form {
    width: 420px;
    margin: 50px auto;
    padding: 30px 30px 30px 30px;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    border-radius: 5px;
}

form h1.formHeader {
    text-align: center;
    color: #363636;
    font-weight: 600;
    margin: 10px auto;
    padding: 10px 0 5px 0;
}

.loginGroup {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    margin: 0 auto;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #ffffff;
}


/* Label */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


/* active */

input:focus~label,
input.typed~label {
    top: -20px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    left: -5px;
    /* font-size: 14px; */
    color: #d66229;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #d66229;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* Notification */

.notification {
    font-size: 12px;
    margin: 8px 3px 2px 3px;
    color: #636363;
    letter-spacing: 0.3px;
    line-height: 125%;
}

.notification i {
    padding: 0 5px;
}

.learnMore {
    color: #636363;
    text-decoration: none;
}


/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px auto;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #d66229;
    border-radius: 5px;
}

.button:focus {
    outline: 0;
}


/* Button modifiers */

.buttonOrange {
    background: #d66229;
}

.buttonOrange:hover {
    background: #cb5c26;
    border: 2px solid #cb5c26;
    color: #ffffff;
}

.resetPassword {
    margin-top: 10px;
    text-decoration-style: none;
    text-align: center;
    font-size: 14px;
}


/* Media */

@media (max-width: 470px) {
    form {
        width: 380px;
        margin: 50px auto;
        padding: 20px 20px 20px 20px;
    }
}


/* NOTE About Page */

.topnav {
    background-color: transparent;
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #d66229;
}
