{{#image-page}}
  <h5>
    Thanks for all your patience and time!<br>
    Our team will be matching the best neighbor for you<br>
    Please hold on a bit.
  </h5>
  {{#link-to "auth.caseworker.match.index" class="btn action"}}
    Find Other Match
  {{/link-to}}
{{/image-page}}
