<li class="nav-item">
  {{#link-to "auth.host.profile" class="nav-link"}}MY PROFILE{{/link-to}}
</li>
<li class="nav-item">
  {{#link-to "auth.community" class="nav-link"}}COMMUNITY{{/link-to}}
</li>
<li class="nav-item">
  {{#link-to "auth.faq" class="nav-link"}}HELP{{/link-to}}
</li>
