{{#profile-page/notebox icon='pencil' heading='How to make a good quality photo:'}}
  <ul>
    <li>Do bring your smile</li>
    <li>Do take it under natural light</li>
    <li>Do upload photo at least 170 x 170px</li>
  </ul>
{{/profile-page/notebox}}
