<h5>{{yield}}</h5>

<div class="row">
  {{#profile-page/review-page/section
    headingImage="/assets/images/icon_hello_2.png"
    headingText="Start with a hello"
    editRoute="auth.host.greeting"
    isComplete=true
  as |section|
  }}
    {{#section.checklist-item route="auth.host.greeting"}}Greeting{{/section.checklist-item}}
    {{#section.checklist-item route="auth.host.bio"}}Basics{{/section.checklist-item}}
    {{#section.checklist-item route="auth.host.about"}}Lifestyle{{/section.checklist-item}}
  {{/profile-page/review-page/section}}

  {{#profile-page/review-page/section
    headingImage=(if @isSection2Complete "/assets/images/icon_backyard.png" "/assets/images/icon_backyard_grey.png")
    headingText="Share your backyard"
    editRoute="auth.host.location"
    isComplete=@isSection2Complete
  as |section|
  }}
    {{#section.checklist-item route="auth.host.location"}}Location{{/section.checklist-item}}
    {{#section.checklist-item route="auth.host.activities"}}Activities{{/section.checklist-item}}
    {{#section.checklist-item route="auth.host.photos"}}Photos{{/section.checklist-item}}
  {{/profile-page/review-page/section}}

  {{#profile-page/review-page/section
    headingImage=(if @isSection3Complete "/assets/images/icon_commitment.png" "/assets/images/icon_commitment_grey.png")
    headingText="Set Expectation"
    editRoute="auth.host.relationship"
    isComplete=@isSection3Complete
  as |section|
  }}
    {{#section.checklist-item route="auth.host.relationship"}}Relationship{{/section.checklist-item}}
    {{#section.checklist-item route="auth.host.question"}}Last Two Questions{{/section.checklist-item}}
  {{/profile-page/review-page/section}}
</div>
