{{! host-only page }}
{{#nav-bar}}{{/nav-bar}}

<div class="container" id="host-profile">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-12 " id="left-column">
      <form action="#" id="hostform">
        <fieldset>
          <legend class="hostHeading">
            STEP 2: Share about your backyard
          </legend>
          <div class="form-group">
            <h6>Upload the photos of your backyard</h6>
            {{#each backyardPics as |pic index|}}
              {{picture-uploader
                wrapperId="backyard-container"
                altText="choose picture"
                url=pic
                onPicture=(action 'setBackyardPic' index)}}
            {{/each}}
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
      <div class="notebox" id="photoSample">
        <h6 class="note">
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Ideas to take backyard photos:
        </h6>
        <ul>
          <li>Show the place where the BLOCK Home will be located</li>
          <li>Find a spot that can take the whole backyard view</li>
          <li>Share a family photo taken in the backyard</li>
          <li>Take photos that are at least 1024 x 683px</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{profile-footer
  backRoute='auth.profile.2-2'
  nextRoute='auth.profile.2-save'
  percent=70}}
