{{! host-only page }}
{{#nav-bar}}{{/nav-bar}}

<div class="container" id="host-profile">
  <div class="row" id="hostsaving3">
    <div class="heading">
      <h5>
        Awesome!<br>
        Thanks for your time completing your profile.<br>
        You can preview the list before submitting it.
      </h5>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-12 steps" id="step1">
      <img src="/assets/images/icon_hello_2.png" alt="hello-icon">
      <div class="subHeading">Start with a hello </div>
      {{#link-to 'auth.profile.1-1' class="edit"}}
        Edit
      {{/link-to}}
      <ul>
        <li>{{#link-to 'auth.profile.1-1'}}<i class="fa fa-check-circle" aria-hidden="true" id="greeting"></i>Greeting{{/link-to}}</li>
        <li>{{#link-to 'auth.profile.1-2'}}<i class="fa fa-check-circle" aria-hidden="true" id="basic-info"></i>Basics{{/link-to}}</li>
        <li>{{#link-to 'auth.profile.1-3'}}<i class="fa fa-check-circle" aria-hidden="true" id="lifestyle"></i>Lifestyle{{/link-to}}</li>
        <li>{{#link-to 'auth.profile.1-4'}}<i class="fa fa-check-circle" aria-hidden="true" id="health"></i>Health Condition{{/link-to}}</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-12  steps" id="step2">
      <img src="/assets/images/icon_backyard.png" alt="backyard-icon">
      <div class="subHeading"> Share your backyard </div>
      {{#link-to 'auth.profile.2-1' class="edit"}}
        Edit
      {{/link-to}}
      <ul>
        <li>{{#link-to 'auth.profile.2-1'}}<i class="fa fa-check-circle" aria-hidden="true" id="location"></i>Location{{/link-to}}</li>
        <li>{{#link-to 'auth.profile.2-1'}}<i class="fa fa-check-circle" aria-hidden="true" id="backyard-scene"></i>Backyard Scene{{/link-to}}</li>
        <li>{{#link-to 'auth.profile.2-1'}}<i class="fa fa-check-circle" aria-hidden="true" id="photos"></i>Photos{{/link-to}}</li>
      </ul>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-12 col-12  steps" id="step3">
      <img src="/assets/images/icon_commitment.png" alt="commitment-icon">
      <div class="subHeading"> Set Expectation &amp; Contribution</div>
      {{#link-to 'auth.profile.3-1' class="edit"}}
        Edit
      {{/link-to}}
      <ul>
        <li>{{#link-to 'auth.profile.3-1'}}<i class="fa fa-check-circle" aria-hidden="true" id="expectation"></i>Expectation{{/link-to}}</li>
        <li>{{#link-to 'auth.profile.3-2'}}<i class="fa fa-check-circle" aria-hidden="true"id="question"></i>Customized questions{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>

{{profile-footer
  backRoute='auth.profile.3-2'
  nextRoute='auth.profile.view'
  percent=100}}
