{{#profile-page
  changeset=this.changeset
  backRoute="auth.caseworker.resident.bio"
  nextRoute="auth.caseworker.resident.location"
as |page|
}}
  {{#page.left-column}}
    {{page.about-form changeset=this.changeset isHost=false}}
  {{/page.left-column}}
  {{#page.right-column}}
    <div class="testimonial-pic-lex-and-marjon">
      <div class="quote-box">
        <div class="quote">
          “Every bit that we can do about Homelessness, we are excited about! We are wanted to participate because it is the right thing to do.” -- Lex and Marjon, third BLOCK Hosts
        </div>
      </div>
    </div>
  {{/page.right-column}}

  {{page.footer percent=37}}
{{/profile-page}}
