{{#profile-page
  changeset=this.changeset
  backRoute="auth.caseworker.resident.index"
  nextRoute="auth.caseworker.resident.about"
as |page|
}}
  {{#page.left-column}}
    {{page.bio-form changeset=this.changeset isHost=false}}
  {{/page.left-column}}
  {{#page.right-column}}
    <div class="testimonial-pic-kim-and-dan">
      <div class="quote-box">
        <div class="quote">
          “The BLOCK Project connected us with Robert, a 76-year-old man who had been living in emergency shelters and on the streets for a decade. We hit it off with Robert the moment we met him. As introverts, we appreciate his gregariousness, and love his sense of humor. We found we had shared interests in music and gardening.” -- Kim and Dan, first BLOCK Hosts
        </div>
      </div>
    </div>
  {{/page.right-column}}
  {{page.footer percent=25}}
{{/profile-page}}
