<header id="thankyoupage">
  <h5>
    Thanks for all your patience and time!<br>
    Our team will be matching the best neightbor for you <br>
    Please hold on a bit.
  </h5>
  {{#link-to 'auth.match'}}
    <button type="button" class="backpage" name="prev" value="matching-page">Find Other Match</button>
  {{/link-to}}
</header>
