{{#profile-page
  changeset=this.changeset
  backRoute="auth.host.relationship"
  nextRoute="auth.host.review3"
as |page|
}}
  {{#page.left-column}}
    {{#page.profile-form as |form|}}
      <legend>
        Set Expectation: Last Two Questions
      </legend>

      {{!-- template-lint-disable attribute-indentation --}}
      {{! seem to be a bug in ember-template-lint flagging indentation}}
      {{#form.group
        label="Now, your turn to ask a question to your future neighbor!"
        as |group|
      }}
        {{group.textarea
          placeholder="Type the question here..."
          value=this.changeset.question
          data-test-question=true
        }}
      {{/form.group}}
      {{#form.group
        label="Additional Note"
      as |group|
      }}
        {{group.textarea
          placeholder="Leave any thoughts or concerns you have here as we do care what you think..."
          value=this.changeset.additionNote
          data-test-addition-note=true
        }}
      {{/form.group}}
    {{/page.profile-form}}
  {{/page.left-column}}
  {{#page.right-column}}
    {{#page.notebox
      icon="pencil"
      heading="Ideas to ask a killer question that find the perfect neighbor:"
    }}
      <ul>
        <li>What’s your 1st thing to do when you wake up in the morning?</li>
        <li>What’s your favorite football team?</li>
        <li>What is your favorite animal?</li>
      </ul>
    {{/page.notebox}}

    {{#page.notebox
      icon="shield"
      heading="Who are going to see this note?"
    }}
    Only the Facing Homelessness team will view the note.
    {{/page.notebox}}
  {{/page.right-column}}

  {{page.footer percent=90}}
{{/profile-page}}
