{{#profile-page
  changeset=this.changeset
  backRoute="auth.host.review2"
  nextRoute="auth.host.question"
as |page|
}}
  {{#page.left-column}}
    {{page.relationship-form changeset=this.changeset}}
  {{/page.left-column}}
  {{#page.right-column}}
    <div class="testimonial-pic-najja">
      <div class="quote-box">
        <div class="quote">
          “I am concerned with the increasing rate of Seattle's homeless population, and I want to become a part of the solution. I heard about The BLOCK Project on NPR and immediately followed up. I think this is an excellent way to chip away at homelessness. I have a large property lot -- so why not put it to good use? -- Najja, third BLOCK Host
        </div>
      </div>
    </div>
  {{/page.right-column}}

  {{page.footer percent=80}}
{{/profile-page}}
