<div class="container">
  <div class="row">
    {{#profile-page/review-page isSection2Complete=true}}
      Great Job!<br>
      You are heading to the last step of the profile.
    {{/profile-page/review-page}}

    {{profile-page/footer
      percent=70
      backRoute="auth.host.activities"
      nextRoute="auth.host.question"
    }}
  </div>
</div>
