{{#image-page}}
  <h1>Congratulations</h1>
  <h5>
    We are so blessed to have you in the community.<br>
    Our team will be matching the best resident for you.<br>
    Keep eyes on your email box!
  </h5>
  {{#link-to "auth.index" class="btn action"}}
    Home
  {{/link-to}}
{{/image-page}}
