{{#image-page}}
  <h1>Congratulations</h1>
  <h5>
    Your profile is complete! <br>
    Thank you from the bottom of our hearts for being a part of this community. Please check your email regularly for next steps, and contact us anytime with questions.
  </h5>
  {{#link-to "auth.index" class="btn action"}}
    Home
  {{/link-to}}
{{/image-page}}
