<li class='nav-item'>
  {{#link-to 'auth.caseworker.new-resident' class='nav-link'}}NEW RESIDENT{{/link-to}}
</li>
<li class='nav-item'>
  {{#link-to 'auth.caseworker.match.index' class='nav-link'}}FIND A MATCH{{/link-to}}
</li>
<li class='nav-item'>
  {{#link-to 'auth.faq' class='nav-link'}}HELP{{/link-to}}
</li>
