{{#community-code}}

{{set-body-class "community"}}
{{#nav-bar id="hostNav"}}
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'hostprofile1-1'}}MY PROFILE{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
</li>
<li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-host'}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}</a>
</li>
{{/nav-bar}}
<!-- Profile Section -->

<header id="community">
<h1>Coming Soon</h1>
<h5>We are looking forward to bringing all neighbors together. <br>Stay Tuned with us!</h5>
{{#link-to 'homepage-host'}}
<button type="button" class="backpage" name="prev" value="communityPage">Back to Home</button>  {{/link-to}}

</header>
{{/community-code}}
