{{#community-code}}

{{set-body-class "community"}}
<!-- Profile Section -->

<header id="community">
<h1>Coming Soon</h1>
<h4>We are Looking Forward to Bringing all Neighbors Together</h4>
{{#link-to 'homepage_host'}}
<button type="button" class="backpage" name="prev" value="communityPage">Go Back</button>  {{/link-to}}

</header>
{{/community-code}}
