{{#community-code}}
{{set-body-class "community"}}

{{#nav-bar}}{{/nav-bar}}

<!-- Profile Section -->

<header id="community">
<h1>Coming Soon</h1>
<h5>We are looking forward to bringing all neighbors together. <br>Stay Tuned with us!</h5>
{{#link-to 'homepage-host'}}
<button type="button" class="backpage" name="prev" value="communityPage">Back to Home</button>  {{/link-to}}

</header>
{{/community-code}}
