{{#homepagehost-code}}

<!-- NOTE Navigation Section -->
<nav class="navbar navbar-expand-lg fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#mainpage-top"><img src="../../assets/images/theblockproject_logo_80px.png" alt="the-block-project-logo" height="65px" width="65px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">MENU
          <i class="fa fa-bars" ></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#hostMainPage" class="dropdown-toggle nav-link js-scroll-trigger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">YOUR PROFILE</a>
                    <ul class="dropdown-menu">
                        <li><a href="#howItWorks" class="nav-link js-scroll-trigger"> HOW IT WORKS</a> </li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#buildProfile" class="nav-link js-scroll-trigger"> BUILD PROFILE</a> </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#community">COMMUNITY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#help">HELP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#account-setting"><i class="fa fa-user-circle-o"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- NOTE Header Section -->
<header>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-5 my-auto">
                <div class="header-content mx-auto">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolore, error, in perspiciatis quasi.</h2>
                    <a href="#buildProfile" class="btn btn-outline btn-xl js-scroll-trigger">
                            BUILD MY PROFILE
                        </a>
                </div>
            </div>

        </div>
    </div>

</header>
<!-- NOTE Process Section -->
<section class="process" id="howItWorks">
    <div class="container">
        <div class="heading">
            <h1>HOW IT WORKS</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="process-item">
                    <img class="process-icon" src="../../assets/images/icon_buildprofile.png" alt="build profile">
                    <h3> 1. Build Your Profile</h3>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="process-item">

                    <img class="process-icon" src="../../assets/images/icon_getmatched.png" alt="get matched">
                    <h3>2. Get Matched</h3>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="process-item">

                    <img class="process-icon" src="../../assets/images/icon_meetneighbors.jpg" alt="meet neighbors">
                    <h3>3. Meet Your Neighbors</h3>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- NOTE Contact Section -->

<section class="contact" id="contact">
    <div class="container">

        <ul class="list-inline list-social">
            <li class="list-inline-item social-facebook">
                <a href="https://www.facebook.com/HomelessInSeattle/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item social-instagram">
                <a href="https://www.instagram.com/facinghomelessness/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>

        </ul>
        <ul class=contact-information>
            <li class=phone>206.632.7299 </li>
            <li class=email>
                <a href="mailto:info@facinghomelessness.org"></a>info@facinghomelessness.org </li>

            <li class=address> 4001 9th Ave NE, Seattle, WA 98105</li>
            <li class=fhLink>
                <a href="https://www.facinghomelessness.org/about" target="_blank">Facing Homelessness</a></li> l
            <li class=tbpLink> <a href="http://www.the-block-project.com/home/" target="_blank">The Block Porject</a></li>
        </ul>

    </div>
</section>

<!-- NOTE Footer Section -->
<footer>
    <div class="container">
        <p>&copy; 2017 The Block Project. All Rights Reserved.</p>
    </div>
</footer>


{{/homepagehost-code}}
