{{#homepagehost-code}}
  {{set-body-class "homepage-host"}}

  {{#nav-bar id="mainNav"}}
{{!-- Dropdown on Nav--}}
    {{!-- <li class="nav-item dropdown">
      <a href="#hostMainPage" class="dropdown-toggle nav-link js-scroll-trigger active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">YOUR PROFILE</a>
      <ul class="dropdown-menu">
        <li><a href="#howItWorks" onclick={{smooth-scroll}} class="nav-link js-scroll-trigger"> HOW IT WORKS</a> </li>

        <li role="separator" class="divider"></li>
        <li>{{#link-to 'hostprofile1-1'}}BUILD PROFILE{{/link-to}}</li>
      </ul>
    </li> --}}
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'hostprofile1-1'}}YOUR PROFILE{{/link-to}}</a>
    </li>
    <li class="nav-item">
  <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#help">{{#link-to 'faq_page'}}HELP{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#account-setting"><i class="fa fa-user-circle-o"></i></a>
    </li>
  {{/nav-bar}}

<!-- NOTE Header Section -->
<header>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-5 my-auto">
                <div class="header-content mx-auto">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolore, error, in perspiciatis quasi.</h2>
                    {{#link-to 'hostprofile1-1'}}<a href="#buildProfile" class="btn btn-outline btn-xl js-scroll-trigger">
                            Build My Profile
                        </a>{{/link-to }}
                </div>
            </div>

        </div>
    </div>

</header>
<!-- NOTE Process Section -->
<section class="process" id="howItWorks">
    <div class="container">
        <div class="heading">
            <h1>HOW IT WORKS</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="process-item">
                    <img class="process-icon" src="../../assets/images/icon_buildprofile.png" alt="build profile">
                    <h3> 1. Build Your Profile</h3>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="process-item">

                    <img class="process-icon" src="../../assets/images/icon_getmatched.png" alt="get matched">
                    <h3>2. Get Matched</h3>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="process-item">

                    <img class="process-icon" src="../../assets/images/icon_meetneighbors.jpg" alt="meet neighbors">
                    <h3>3. Meet Your Neighbors</h3>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus velit, hic fugit magni accusamus inventore nihil architecto quisquam eligendi!</h5>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- NOTE Contact Section -->

<section class="contact" id="contact">
    <div class="container">

        <ul class="list-inline list-social">
            <li class="list-inline-item social-facebook">
                <a href="https://www.facebook.com/HomelessInSeattle/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item social-instagram">
                <a href="https://www.instagram.com/facinghomelessness/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>

        </ul>
        <ul class=contact-information>
            <li class=phone>206.632.7299 </li>
            <li class=email>
                <a href="mailto:info@facinghomelessness.org"></a>info@facinghomelessness.org </li>

            <li class=address> 4001 9th Ave NE, Seattle, WA 98105</li>
            <li class=fhLink>
                <a href="https://www.facinghomelessness.org/about" target="_blank">Facing Homelessness</a></li> l
            <li class=tbpLink> <a href="http://www.the-block-project.com/home/" target="_blank">The Block Porject</a></li>
        </ul>

    </div>
</section>

<!-- NOTE Footer Section -->
<footer class="homepage">
    <div class="container">
        <p>&copy; 2017 The Block Project. All Rights Reserved.</p>
    </div>
</footer>


{{/homepagehost-code}}
