
{{set-body-class "homepage-admin"}}

{{#nav-bar}}{{/nav-bar}}

<div class="container h-100">
    <div class="row h-100">
              <div class="col-lg-4 hostResult">
                <h1><b>100</b></h1>
                <h5>Hosts</h5>
                {{#link-to 'admin-host-list'}} <p>See Details</p>{{/link-to}}
              </div>
              <div class="col-lg-4 resResult">
                <h1><b>30</b></h1>
                <h5>Residents</h5>
                  {{#link-to 'admin-resident-list'}} <p>See Details</p>{{/link-to}}
              </div>
              <div class="col-lg-4 cwkResult">
                <h1><b>10</b></h1>
                <h5>Matched</h5>
              {{#link-to 'homepage_admin'}}  <p>See Details</p>{{/link-to}}
              </div>
    </div>
</div>
