{{#hostprofile1-4-code}}
  {{#nav-bar id="hostProfileNav" }}
    <li class="nav-item dropdown">
      <a href="#hostMainPage" class="dropdown-toggle nav-link js-scroll-trigger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">YOUR PROFILE</a>
      <ul class="dropdown-menu">
        <li><a href="#howItWorks" class="nav-link js-scroll-trigger"> HOW IT WORKS</a> </li>
        <li role="separator" class="divider"></li>
        <li><a href="#buildProfile" class="nav-link js-scroll-trigger"> BUILD PROFILE</a> </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#community">COMMUNITY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#help">HELP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#account-setting"><i class="fa fa-user-circle-o"></i></a>
    </li>
  {{/nav-bar}}

  <!-- Profile Section -->

  <div class="container" id="host-profile">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-12" id="left-column">
        <form action="#" id="hostform">
          <fieldset>
            <legend>STEP 1: Say HI, and introduce yourself!</legend>
            <div class="form-group" id="illness">
              <h6>Do you have an active mental illness?</h6>
              <input type="radio" id="radio1-1" name="illness" value="no" checked>
              <label for="radio1-1">No</label>
              <input type="radio" id="radio1-2" name="illness" value="yes">
              <label for="radio1-2">Yes</label>
              <input type="text" name="name-of-illness" placeholder="If so, please list the illness">
            </div>
            <div class="form-group" id="family-medical-history">
              <h6>Do you have any medical family history?</h6>
              <input type="radio" id="radio2-1" name="family-medical-history" value="no" checked>
              <label for="radio2-1">No</label>
              <input type="radio" id="radio2-2" name="family-medical-history" value="yes">
              <label for="radio2-2">Yes</label>
              <input type="text" name="family-medical-history" placeholder="If so, please lists the details">
            </div>
            <div class="form-group" id="host-used-substances">
              <h6>What substances you use currently?</h6>
              <input type="checkbox" id="host-chk1-1" name="substances" value="illicit" checked>
              <label for="host-chk1-1">Illicit Substances</label>
              <input type="checkbox" id="host-chk1-2" name="substances" value="marijuana">
              <label for="host-chk1-2">Marijuana</label>
              <input type="checkbox" id="host-chk1-3" name="substances" value="alcohol">
              <label for="host-chk1-3">Alcohol</label>
              <input type="checkbox" id="host-chk1-4" name="substances" value="tabacco">
              <label for="host-chk1-4">Tabacco</label>
              <input type="checkbox" id="host-chk1-5" name="substances" value="none">
              <label for="host-chk1-5">None of them</label>
            </div>
            <div class="form-group" id="host-accepted-substances">
              <h6>What substances that a resident use will you be comfortable with?</h6>
              <input type="checkbox" id="host-chk2-1" name="substances" value="illicit" checked>
              <label for="host-chk2-1">Illicit Substances</label>
              <input type="checkbox" id="host-chk2-2" name="substances" value="marijuana">
              <label for="host-chk2-2">Marijuana</label>
              <input type="checkbox" id="host-chk2-3" name="substances" value="alcohol">
              <label for="host-chk2-3">Alcohol</label>
              <input type="checkbox" id="host-chk2-4" name="substances" value="tabacco">
              <label for="host-chk2-4">Tabacco</label>
              <input type="checkbox" id="host-chk2-5" name="substances" value="none">
              <label for="host-chk2-5">None of them</label>
            </div>
            <br>

            <!--Page Buttons-->
            <div id="pageButton-expand">
              {{#link-to 'hostprofile1-3'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>BACK</button>{{/link-to}}
              {{#link-to 'hostsaving1'}} <button class="nextpage" name="next" type="submit" value="host-page1">NEXT</button>{{/link-to}}
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">

        <div class="notebox" id="profilephoto">
          <h6 class="note">
        <i class="fa fa-pencil" aria-hidden="true"></i>NOTE</h6> Being honest and sincere is to find a best match!
        </div>
      </div>
    </div>
  </div>


  <!-- Footer Section -->
  <footer class="progress-wrap">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        <span class="sr-only">40%</span>
      </div>
    </div>

  </footer>

{{/hostprofile1-4-code}}
