{{#matching-question-code}}

    {{#nav-bar id="cwkNav-light"}}
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'homepage-caseworker'}}MY RESIDENT{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'matchingpage-resident'}}FIND A MATCH{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-caseworker'}}HELP{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#account-setting">{{#link-to 'accountpage-caseworker'}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}</a>
    </li>
    {{/nav-bar}}


<!-- Profile Section -->

{{!-- <div class="container" id="host-profile"> --}}
<div class="container" id="host-profile">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-12 " id="left-column">

      <form action="#"  id="hostform">
        <fieldset>
          <div class="form-group" id="question">
            <h6>HEY! It’s a BIG move, Nick!<br>
              Before meeting Kim, here is a question she would like to <br>
              know more about your story.</h6>
              <p><b>What makes you a day today? </b>
              </p>
            <textarea id="question-for-res" type="question" name="question"></textarea>
          </div>

        </fieldset>
      </form>
    </div>



            <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
          <div class="notebox" id="profilephoto">
            <h6 class="note">
          <i class="fa fa-pencil" aria-hidden="true"></i>How to make a good quality photo:</h6>
            <ul>
              <li>Do bring your smile</li>
              <li>Do take it under natural light</li>
              <li>Do upload photo at least 170 x 170px</li>
            </ul>

          </div>
        </div>

  </div>
</div>

<!-- Footer Section -->

<footer class="profile">
  <!--Page Buttons-->
  <div id="residentPageButton">
    {{#link-to 'matchingpage-resident'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
    {{#link-to 'thankyoupage-matching'}}<button class="nextpage" name="next" type="submit" value="host-page1">Submit</button>{{/link-to}}
  </div>
</footer>

{{/matching-question-code}}
