{{#previewpagehost-code}}
  {{#nav-bar id="hostProfileNav" }}
    <li class="nav-item dropdown">
      <a href="#hostMainPage" class="dropdown-toggle nav-link js-scroll-trigger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">YOUR PROFILE</a>
      <ul class="dropdown-menu">
        <li><a href="#howItWorks" class="nav-link js-scroll-trigger"> HOW IT WORKS</a> </li>
        <li role="separator" class="divider"></li>
        <li><a href="#buildProfile" class="nav-link js-scroll-trigger"> BUILD PROFILE</a> </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#community">COMMUNITY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#help">HELP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#account-setting"><i class="fa fa-user-circle-o"></i></a>
    </li>
  {{/nav-bar}}

  <!-- Profile Section -->
  <div class="container" id="host-profile">
    <div class="row" id="host-preview">
      <!--Carousel Slide Starts Here-->
      <div class="carousel-section">
        {{#carousel-container transitionInterval=400}}
          {{#carousel-body}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample1.jpg">
            {{/carousel-item}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample3.jpg">
            {{/carousel-item}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample4.jpg">
            {{/carousel-item}}
          {{/carousel-body}}

          {{carousel-arrow direction="left" class="line-arrow left"}} {{carousel-arrow direction="right" class="line-arrow right"}}
        {{/carousel-container}}

      </div>
      <!--Carousel Slide Ends Here-->
      <div class="main-info">
        <div class="image">
          <img src="/assets/images/hostprofile.png" width="125px" alt="">
        </div>
        <div class="content">
          <h5 class="l1">Kim Sherman</h5>
          <h6 class="l2">Female • 40 years old • Housewife</h6>
          <h6 class="l3"> South Lake Union, Seattle • Adult 2 • Kid 2</h6>
        </div>

        <div class="greeting">
          <p>Hey, gorgeous. I hope I could speard the joy of our backyard to more people!</p>
        </div>
      </div>

      <div class="preview-transportation col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Transportation</h6>
          <ul class="item">
            <li>
              <p> Link</p>
            </li>
            <li>
              <p> Bus: 49, 70</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="preview-environment col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Environment</h6>
          <p class="item">QFC, Public Library, Green Lake Park</p>
        </div>
      </div>

      <div class="preview-lifestyle col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Language Spoken</h6>
          <p class="item"> To be edited </p>
        </div>
        <div class="title">
          <h6>Habit</h6>
          <p class="item"> Hiking </p>
        </div>
        <div class="title">
          <h6>Favorite Food</h6>
          <p class="item"> Pasta </p>
        </div>

        <div class="title">
          <h6>Movie Type</h6>
          <p class="item"> Comics </p>
        </div>
      </div>
      <div class="preview-health col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Mental illness</h6>
          <p class="item"> None </p>
        </div>
        <div class="title">
          <h6>Medical Family History</h6>
          <p class="item"> Yes. Diabetes </p>
        </div>
        <div class="title">
          <h6>Use illicit substance/drug </h6>
          <p class="item"> Tabacco </p>
        </div>
        <div class="title">
          <h6>Accept Illicit Substance/drug </h6>
          <p class="item"> Tabacco </p>
        </div>
      </div>

      <div class="preview-expectation col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Expectation</h6>
          <ul class="item">
            <li>
              <p> Let's be a friend! </p>
            </li>
            <li>
              <p id="levels"> Connection Level:</p>
              <span id="level1"></span>
              <span id="level2"></span>
              <span id="level3"></span>
              <span id="level4"></span>
              <span id="level5"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="preview-question col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Questions</h6>
          <p class="item"> What would make you a day? </p>
        </div>
      </div>

      <!--Page Buttons-->
      <div id="pageButton">
        {{#link-to 'hostsaving3'}}<button class="edit" name="backpage" type="submit" value="host-page1">Edit</button>{{/link-to}}
        {{#link-to 'hostprofile1-2'}} <button class="nextpage" name="next" type="submit" value="host-page1">SUBMIT</button>{{/link-to}}
      </div>
    </div>
  </div>
{{/previewpagehost-code}}
