{{#resident-list-code}}
{{#nav-bar id="cwkNav-dark" }}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'resident-list'}}MY RESIDENT{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#help">{{#link-to 'faq_page'}}FIND A MATCH{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#help">{{#link-to 'faq_page'}}HELP{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#account-setting"><i class="fa fa-user-circle-o"></i></a>
  </li>
{{/nav-bar}}
  <!-- Profile Section -->
  <div class="container" id="resident-list">
    <div class="row">
<div class="list">
  <table id="resident-table">
<thead>
    <tr>
      <th colspan="2"><input type="text" id="resident-name-input" onkeyup="myFunction()" placeholder="Search for names" title="Type in a name"></th>
      <th> Location <button class="chevron-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></button> </th>
      <th> Occupation <button class="chevron-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></button> </th>
      <th> Onboard <button class="chevron-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>  </th>
      <th> Status <button class="chevron-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>  </th>
      <th> Note </th>
    </tr>
  </thead>
    <tr>
      <td> <img id="resident1" src="/assets/images/residentProfile.jpg" alt="nick-rschlebusch"> </td>
      <td> <a href="#">Nick Rschlebusch</a> </td>
      <td> U District </td>
      <td> IT Specialist</td>
      <td> 1 week ago</td>
      <td>Matching</td>
      <td> <button id="note-icon"onclick="myFunction()"><i class="fa fa-sticky-note" aria-hidden="true"></i> </button></td>
    </tr>
    <tr>
      <td colspan="7" class="note">
          <textarea id="cwk-note"  name="cwk-note" form="resident-form" placeholder="Take a note here">
          </textarea>
        </td>
    </tr>

    <tr>
      <td> <img id="resident1" src="/assets/images/residentProfile.jpg" alt="nick-rschlebusch"> </td>
      <td> <a href="#">Nick Rschlebusch</a> </td>
      <td> U District </td>
      <td> IT Specialist</td>
      <td> 1 week ago</td>
      <td>Matching</td>
      <td> <button id="note-icon"onclick="myFunction()"><i class="fa fa-sticky-note" aria-hidden="true"></i> </button></td>
    </tr>
    <tr>
      <td colspan="7" class="note">
          <textarea id="cwk-note"  name="cwk-note" form="resident-form" placeholder="Take a note here">
          </textarea>
        </td>
    </tr>

    <tr>
      <td> <img id="resident1" src="/assets/images/residentProfile.jpg" alt="nick-rschlebusch"> </td>
      <td> <a href="#">Nick Rschlebusch</a> </td>
      <td> U District </td>
      <td> IT Specialist</td>
      <td> 1 week ago</td>
      <td>Matching</td>
      <td> <button id="note-icon"onclick="myFunction()"><i class="fa fa-sticky-note" aria-hidden="true"></i> </button></td>
    </tr>
    <tr>
      <td colspan="7" class="note">
          <textarea id="cwk-note"  name="cwk-note" form="resident-form" placeholder="Take a note here">
          </textarea>
        </td>
    </tr>

    <tr>
      <td> <img id="resident1" src="/assets/images/residentProfile.jpg" alt="nick-rschlebusch"> </td>
      <td> <a href="#">Nick Rschlebusch</a> </td>
      <td> U District </td>
      <td> IT Specialist</td>
      <td> 1 week ago</td>
      <td>Matching</td>
      <td> <button id="note-icon"onclick="myFunction()"><i class="fa fa-sticky-note" aria-hidden="true"></i> </button></td>
    </tr>
    <tr>
      <td colspan="7" class="note">
          <textarea id="cwk-note"  name="cwk-note" form="resident-form" placeholder="Take a note here">
          </textarea>
        </td>
    </tr>

    <tr>
      <td> <img id="resident1" src="/assets/images/residentProfile.jpg" alt="nick-rschlebusch"> </td>
      <td> <a href="#">Nick Rschlebusch</a> </td>
      <td> U District </td>
      <td> IT Specialist</td>
      <td> 1 week ago</td>
      <td>Matching</td>
      <td> <button id="note-icon"onclick="myFunction()"><i class="fa fa-sticky-note" aria-hidden="true"></i> </button></td>
    </tr>
    <tr>
      <td colspan="7" class="note">
          <textarea id="cwk-note"  name="cwk-note" form="resident-form" placeholder="Take a note here">
          </textarea>
        </td>
    </tr>

    <tr>
      <td> <img id="resident1" src="/assets/images/residentProfile.jpg" alt="nick-rschlebusch"> </td>
      <td> <a href="#">Nick Rschlebusch</a> </td>
      <td> U District </td>
      <td> IT Specialist</td>
      <td> 1 week ago</td>
      <td>Matching</td>
      <td> <button id="note-icon"onclick="myFunction()"><i class="fa fa-sticky-note" aria-hidden="true"></i> </button></td>
    </tr>
    <tr>
      <td colspan="7" class="note">
          <textarea id="cwk-note"  name="cwk-note" form="resident-form" placeholder="Take a note here">
          </textarea>
        </td>
    </tr>

  </table>
  </div>
</div>

    </div>

  <!-- Footer Section -->
  <footer class="resident-list">
    {{#link-to 'residentprofile1-1'}} <button class="addNew">

      <i class="fa fa-plus" aria-hidden="true"></i>
ADD NEW RESIDENT
</button>{{/link-to}}
  </footer>


{{/resident-list-code}}
