<div class="container">
  <ul class="admin-subnav">
    <li>{{#link-to "auth.admin.host-list"}}Hosts{{/link-to}}</li>
    <li>{{#link-to "auth.admin.resident-list"}}Residents{{/link-to}}</li>
  </ul>

  {{yield}}
</div>
